/*!CK:399932421!*//*1401162159,178142543*/

.sp_QdA4sKu58aq{background-image:url(/rsrc.php/v2/yD/r/7uTyFNDNpgW.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_QdA4sKu58aq.sx_938edc{background-position:0 0}.sp_QdA4sKu58aq.sx_1f9d39{background-position:0 -17px}

#bootloader_Xm7CL { height: 42px; }
.bootloader_Xm7CL { display:block !important; }