/*!CK:567271439!*//*1401170603,178167347*/

.sp_1Yn7VkHMPwJ{background-image:url(/rsrc.php/v2/ya/r/A7I-gxdoca5.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_1Yn7VkHMPwJ.sx_1adb80{width:32px;height:32px;background-position:0 0}.sp_1Yn7VkHMPwJ.sx_49967b{background-position:0 -33px}.sp_1Yn7VkHMPwJ.sx_088813{background-position:0 -50px}

#bootloader_XGhBC { height: 42px; }
.bootloader_XGhBC { display:block !important; }