/*!CK:197563362!*//*1401158226,178138389*/

._55vh{background:rgba(0, 0, 0, .5);border:1px solid rgba(255, 255, 255, .5);-webkit-border-radius:15px;height:13px;padding:8px 32px;position:relative}._55vi,._55vk{color:#fff;font-size:16px;line-height:16px;position:absolute;top:4px}._55vi{left:13px}._55vk{right:10px}._55vj ._4qwu{border-bottom:1px solid #aaa;height:6px}._55vj ._4qwr{background:#fff;-webkit-border-radius:6px;height:13px;margin-left:-6px;width:13px}._55vj ._4qws{background:#aaa}

#bootloader_bC_hB { height: 42px; }
.bootloader_bC_hB { display:block !important; }