/*!CK:854117973!*//*1401357600,178187597*/

.sp_bmklPgTnZjh{background-image:url(/rsrc.php/v2/yd/r/mwXtQmA8U5I.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:99px;width:124px}.sp_bmklPgTnZjh.sx_f0ea2b{width:16px;height:16px;background-position:-35px -100px}.sp_bmklPgTnZjh.sx_9b2405{width:34px;height:34px;background-position:0 -100px}.sp_bmklPgTnZjh.sx_0f3da2{background-position:0 0}

#bootloader_lhfRS { height: 42px; }
.bootloader_lhfRS { display:block !important; }