/*!CK:546188701!*//*1401158111,178134343*/

._4on5{position:relative}._4on7{cursor:move;opacity:.2;position:absolute}

#bootloader_xzc1N { height: 42px; }
.bootloader_xzc1N { display:block !important; }