/*!CK:3945200204!*//*1401162494,178167347*/

.sp_TReu-y-7Wom{background-image:url(/rsrc.php/v2/y-/r/n4e7fLfgoWc.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:11px;width:16px}.sp_TReu-y-7Wom.sx_f5fb0a{height:16px;background-position:0 0}.sp_TReu-y-7Wom.sx_c53895{height:16px;background-position:0 -17px}.sp_TReu-y-7Wom.sx_4abff7{width:11px;background-position:0 -46px}.sp_TReu-y-7Wom.sx_118cdb{width:12px;background-position:0 -34px}

#bootloader_gn6nh { height: 42px; }
.bootloader_gn6nh { display:block !important; }