/*!CK:1969974518!*//*1401158109,178187583*/

._4liw{background:#232938;overflow:hidden;padding:20px}._1szc,._1szd,._4lix{margin:10px auto}._4lix{margin-bottom:0;max-width:200px;position:relative}

#bootloader_wTpvg { height: 42px; }
.bootloader_wTpvg { display:block !important; }