/*!CK:3651239169!*//*1401158226,178138389*/

._3mdw{background-color:#f6f7f8;-webkit-border-radius:3px 3px 0 0;padding:10px 12px;text-shadow:0 1px 0 #fff}._3mds{background:#232938}._3mdt{background:#232938 url(/rsrc.php/v2/y7/r/pgEFhPxsWZX.gif) 50% 50% no-repeat;height:460px}._3mdu{display:block;margin:0 auto}._3mdr{display:block;font-size:12px;line-height:16px;padding:4px 0}

#bootloader__Ha_g { height: 42px; }
.bootloader__Ha_g { display:block !important; }