/*!CK:667078035!*//*1401158112,178187583*/

._1k3v{outline:1px solid #fff;outline-color:rgab(255, 255, 255, .7);overflow:hidden;position:relative}._1k3w{position:absolute}

#bootloader_IwZJU { height: 42px; }
.bootloader_IwZJU { display:block !important; }